<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/images/profile.jpg">
    </ion-avatar>
    <ion-label>18111426 - Ari Ardiansyah</ion-label>
  </ion-item>
  <ion-item>
    <p>
      Aplikasi dibuat untuk memenuhi tugas dari mata kuliah <ion-text color="secondary">Augmented Virtual Reality</ion-text> Semester 5.
      AR Mecha memanfaatkan teknologi <ion-text color="primary"><ion-icon name="logo-ionic"></ion-icon> Ionic, </ion-text> <ion-text color="danger"><ion-icon name="logo-angular"></ion-icon> Angular</ion-text> dan 
      <ion-text color="warning"><ion-icon name="logo-javascript"></ion-icon> AR.js.</ion-text>
    </p>
    <br>
  </ion-item>
  <ion-item-divider>
    <p>
      Untuk model didapatkan dari situs open source <a href="https://sketchfab.com/">sketchfab.com</a>
    </p>
  </ion-item-divider>
</ion-content>
